/* Views Page (path: /pricing) */  

  .view-display-id-page_1 .pricing-title
  { 
    font-size: 24px;
    margin-bottom: 20px;
    padding-left: 20px;
    width: 595px;
    border-bottom: solid 2px #333;
  }

  .view-display-id-page_1 .pricing-pic
  {
    float:left;    
    margin-bottom: 100px;
    margin-right: 35px;
    margin-left: 20px;
  }

  .view-display-id-page_1 .pricing-teaser
  {
    margin-left: 20px;
  }

  .view-display-id-page_1 .pricing-body
  { 
    margin-top: 40px;
  }
